.sponsors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.customers {
    padding: 125px 0 60px;
}

.customers__title {
    width: 447px;
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.customers__text {
    width: 555px;
    padding-bottom: 60px;
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
}

.customers__cards {
    display: flex;
    justify-content: space-between;
}

.customer__card {
    width: 380px;
    border-radius: 10px;
    border: 2px solid #DDD;
    padding: 30px;
    transition: 0.3s;
}

.customer__card:hover {
    border: 2px solid #F53838;
}

.customer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer__header__left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.customer__name {
    color: #0B132A;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
}

.customer__country {
    color: #4F5665;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.customer__header___rigth {
    display: flex;
    align-items: center;
    gap: 10px;
}

.customer__mark {
    color: #0B132A;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.customer__card__text {
    color: #0B132A;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.customer__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer__footer__left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.carusel {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #DDE0E4;
}

.carusel__active {
    width: 35px;
    height: 20px;
    border-radius: 20px;
    background-color: #F53838;
}

.customer__footer__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.direction__1 {
    border: 2px solid #F53838;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #F53838;
}

.direction__2 {
    background-color:  #F53838;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    border: 2px solid #F53838;
}