.footer {
    background: #F8F8F8;
    margin-top: 181px;
    padding-bottom: 100px;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 58px 70px;
    border-radius: 10px;
    background: #FFF;
    position: relative;
    top: -120px;
    box-shadow: 0 15px 20px rgba(225, 201, 201, 0.35);
}

.subscribe__title {
    margin-bottom: 20px;
    width: 370px;
    color: #0B132A;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}

.subscribe__text {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.subscribe__right {
    padding: 17px 65px;
    border-radius: 10px;
    background: #F53838;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    box-shadow: 0 15px 20px rgba(228, 20, 20, 0.35);
    transition: 0.3s;
}

.subscribe__right:active {
    transform: scale(0.9);
}

.subscribe__right:hover {
    opacity: 0.8;
}

.footer__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer__content__left {}

.footer__content__text {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 340px;
    margin-top: 20px;
    margin-bottom: 30px;

    span {
        font-weight: 500;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    left: -20px;
}

.made__by {
    color: #AFB5C0;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    span {
        font-weight: 500;
    }
}

.footer__content__right {
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

.footer__menu {
    li {
        color: #4F5665;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 10px;
    }
}

.footer__menu__title {
    color: #0B132A;
    margin-bottom: 20px;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}