.header {}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 100px;

    @media screen and (max-width:811px) {
        margin-top: 150px;
    }

    @media screen and (max-width:765px) {
        flex-direction: column-reverse;
    }

    @media screen and (max-width:525px) {
        margin-top: 100px;
    }

    @media screen and (max-width:400px) {
        gap: 20px;
    }
}

.header__title {
    color: #0B132A;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 20px;

    @media screen and (max-width:1069px) {
        font-size: 35px;
        line-height: 50px;
    }

    @media screen and (max-width:935px) {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    @media screen and (max-width:525px) {
        font-size: 25px;
        line-height: 30px;
    }

    span {
        color: #0B132A;
        font-family: Rubik;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;

        @media screen and (max-width:1069px) {
            font-size: 35px;
            line-height: 50px;
        }

        @media screen and (max-width:935px) {
            font-size: 30px;
            line-height: 40px;
        }

        @media screen and (max-width:525px) {
            font-size: 25px;
            line-height: 30px;
        }
    }
}

.header__text {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;

    @media screen and (max-width:1069px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width:935px) {
        margin-bottom: 20px;
    }

    @media screen and (max-width:400px) {
        margin-bottom: 15px;
        line-height: 25px;
    }

    span {
        color: #4F5665;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;

        @media screen and (max-width:400px) {
            line-height: 25px;
        }
    }
}

.header__btn {
    padding: 17.5px 77.5px;
    border-radius: 10px;
    background: #F53838;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    position: relative;
    box-shadow: 0 15px 20px rgba(245, 56, 56, 0.35);
    transition: 0.2s;
    z-index: -1;

    @media screen and (max-width:1069px) {
        padding: 12.5px 50.5px;
    }

    @media screen and (max-width:935px) {
        padding: 10px 40px;
    }

    @media screen and (max-width:400px) {
        padding: 10px 25px;
        font-size: 14px;
    }
}

.header__btn:active {
    transform: scale(0.9);
}



.header__left {
    width: 520px;

    @media screen and (max-width:1232px) {
        width: 450px;
    }

    @media screen and (max-width:1069px) {
        width: 400px;
    }

    @media screen and (max-width:935px) {
        width: 320px;
    }

    @media screen and (max-width:765px) {
        width: 500px;
    }

    @media screen and (max-width:525px) {
        width: 360px;
    }

    @media screen and (max-width:400px) {
        width: 280px;
    }

    @media screen and (max-width:325px) {
        width: 230px;
    }
}

.header__right {
    background-image: url(../img/hero.png);
    height: 400px;
    width: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width:1232px) {
        width: 550px;
        height: 340px;
    }

    @media screen and (max-width:1020px) {
        width: 450px;
        height: 280px;
    }

    @media screen and (max-width:845px) {
        width: 370px;
        height: 230px;
    }

    @media screen and (max-width:765px) {
        width: 500px;
        height: 310px;
    }

    @media screen and (max-width:525px) {
        width: 385px;
        height: 240px;
    }

    @media screen and (max-width:400px) {
        width: 305px;
        height: 190px;
    }

    @media screen and (max-width:325px) {
        width: 240px;
        height: 150px;
    }
}

.header__info {
    margin-top: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 215px;
    padding: 30px 90px;
    box-shadow: 0 5px 20px #e0dede;
    gap: 90px;
    margin-bottom: 95px;
    border-radius: 15px;

    @media screen and (max-width:1140px) {
        padding: 20px 60px;
        gap: 70px;
    }

    @media screen and (max-width:1020px) {
        gap: 40px;
    }

    @media screen and (max-width:935px) {
        justify-content: space-between;
        padding: 20px 40px;
        height: 180px;
    }

    @media screen and (max-width:845px) {
        height: 140px;
    }

    @media screen and (max-width:733px) {
        flex-direction: column;
        height: 100%;
        gap: 20px;
        width: 100%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 95px;
    }
}

.header__info__col {
    width: 32%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 36.5px;

    @media screen and (max-width:1140px) {
        width: 25%;
    }

    @media screen and (max-width:935px) {
        width: 22%;
        gap: 26px;
    }

    @media screen and (max-width:845px) {
        width: 25%;
        gap: 15px;
    }

    @media screen and (max-width:733px) {
        width: 100%;
    }
}

.line {
    width: 3px;
    height: 80%;
    background-color: #EEEFF2;

    @media screen and (max-width:935px) {
        height: 50%;
    }

    @media screen and (max-width:733px) {
        height: 3px;
        width: 100%;
    }
}

.header__col__left {
    border-radius: 70px;
    background: #FFECEC;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:375px) {
        width: 50px;
        height: 50px;
    }
}

.count {
    color: #0B132A;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 5px;

    @media screen and (max-width:935px) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 0;
    }

    @media screen and (max-width:375px) {
        font-size: 16px;
    }
}

.header__col__suptitle {
    color: #4F5665;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    @media screen and (max-width:935px) {
        font-size: 18px;
    }

    @media screen and (max-width:375px) {
        font-size: 16px;
    }
}